<html>

<head>
    <title>Red Mud World Builder v2</title>
    <link rel="stylesheet" type="text/css" href="styles/builder.css" />
    <script src="/bower_components/angular/angular.js"></script>
</head>

<body ng-app="RedMudWorldBuilderV2">
    <div id="AreaManager" ng-controller="BuilderManagerControler">
        <div>
            <label for="activeArea">Active Area:</label>
            <select id="activeArea" ng-model="areaManager.current" ng-options="(area.areacode + ' - ' + area.description.substr(0,50)) for area in areas track by area.areacode" ng-change="onAreaChange().then(onRoomChange);"></select>
            <button ng-click="setFormForNewArea(); setFormForNewRoom();">New</button>
        </div>
        <form ng-if="areaManager.current != null || newArea">
            <table class="area_widget">
                <th colspan="2">Area Widget</th>
                <tr>
                    <td class="aw_label"><label>Areacode</label></td>
                    <td><input type="text" name="areacode" ng-model="areaManager.form.areacode" ng-readonly="!newArea" /></td>
                </tr>
                <tr>
                    <td class="aw_label"><label>Name</label></td>
                    <td><input type="text" name="name" ng-model="areaManager.form.name" /></td>
                </tr>
                <tr>
                    <td class="aw_label"><label>Description</label></td>
                    <td><input class="aw_description" type="text" name="description" ng-model="areaManager.form.description" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button ng-if="areaManager.current != null && !newArea" ng-click="resetActiveArea();">Reset</button>
                        <button ng-if="newArea" ng-click="addNewArea();">Add</button>
                        <button ng-if="areaManager.current != null && !newArea" ng-click="saveAreaChange();">Save</button>
                        <button ng-if="areaManager.current != null && !newArea" ng-click="deleteArea();">Delete</button>
                        <button ng-click="test()">test</button>
                    </td>
                </tr>
            </table>
        </form>
        <form ng-if="areaManager.current != null || newArea">
            <table class="room_widget">
                <th colspan="2">Room Widget</th>

                <tr>
                    <td colspan="2">
                        <label for="changeRoom">Select Room</label>
                        <select name="changeRoom" ng-model="roomManager.roomChangeCode" ng-options="roomcode as roomname for (roomcode, roomname) in roomManager.nameLookup[areaManager.current.areacode]" ng-change="onRoomChange(roomManager.roomChangeCode);" />
                    </td>
                </tr>
                <tr>
                    <td><label>Roomnumber</label></td>
                    <td ng-bind="roomManager.form.roomnumber"></td>
                </tr>
                <tr>
                    <td><label>Name</label></td>
                    <td><input type="text" ng-model="roomManager.form.name" /></td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td>
                        <textarea name="room_name" rows="10" cols="40" ng-model="roomManager.form.description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Room Exits
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <th>
                                    Command
                                </th>
                                <th>
                                    Area
                                </th>
                                <th>
                                    Room
                                </th>
                            </tr>
                            <tr ng-repeat="(command, room) in roomManager.form.exits">
                                <td>
                                    {{command}}
                                </td>
                                <td>
                                    {{room.areacode}}
                                </td>
                                <td>
                                    {{room.name}}
                                </td>
                                <td>
                                    <button ng-click="goToRoom(room.roomcode);">GO</button>
                                    <button ng-click="removeExit(command, room.roomcode);">-</button>
                                </td>
                            </tr>
                            <tr ng-if="!newRoom">
                                <td>
                                    <input type="text" ng-model="roomManager.form.newExitCommand">
                                </td>
                                <td>
                                    <select ng-model="roomManager.form.newExitArea" ng-options="area.areacode as (area.areacode + ' - ' + area.name) for area in areas track by area.areacode" />
                                </td>
                                <td>
                                    <select ng-disabled="roomManager.form.netExitArea != null" ng-model="roomManager.form.newExitRoom" ng-options="roomcode as roomname for (roomcode, roomname) in roomManager.nameLookup[roomManager.form.newExitArea]">
                                        <option value="">New Room</option>
                                    </select>
                                </td>
                                <td>
                                    <button ng-disabled="roomManager.form.newExitCommand == null || roomManager.form.newExitArea == null" ng-click="addNewExit();">+</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button ng-if="newRoom" ng-click="saveNewRoom();">Save</button>
                        <button ng-if="!newRoom" ng-click="updateRoom();">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        var app = angular.module('RedMudWorldBuilderV2', ['RoomService']);
    </script>
    <script src="services/RoomService.js"></script>

    <script src="controllers/BuilderManagerControler.js"></script>
</body>

</html>